@charset 'utf-8';
.contenedor{
    width: 700px;
    margin: auto;
    padding: 10px;
    align-content: center;
}

table{
    width: 400px;
    height: 500px;
    margin: auto;
    text-align: center;
    table-layout: fixed;
    font-size: 30px;
    background-color: gray;
}

td{
    background-color: #D8D8D8;
}

.resultado{
    color: white;
    background-color: gray;
    text-align: right;
    padding-right: 10px;
}

.operadores{
    background-color: orange;
    color: white;
}

.cero{
    text-align: left;
    padding-left: 30px;
    
}